@model IEnumerable<PONTO.DOMAIN.Entidades.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

<h1>Clientes Cadastrados</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info" >Add Cliente</a>
</p>


<div class="row justify-content-center">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>           
           
            <th>
                @Html.DisplayNameFor(model => model.Aposentado)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.StatusCad)
            </th>
            
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>           
            
            <td>
                @Html.DisplayFor(modelItem => item.Aposentado)
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.StatusCad)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCliente" class="btn btn-sm btn-outline-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente" class="btn btn-sm btn-outline-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCliente" class="btn btn-sm btn-outline-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

</div>